@import "everything";

.video{
  height: 100vh;
  width: 100vw;
  background: #000;
  .video_container{

    .video_player{

    }
  }
}

.info{
  height: 100vh;
  width: 100vw;
  background: #000;

  .info_container{

    .info_text_container{

      h1{

      }

      p{

      }
    }

    .info_contact_container{

      h2{

      }

      p{

      }
    }
  }
}