@import "everything";

// text size video
.text_video{
  h1{
    margin-top:35vh;
    font-size:7vw;
    color: white;
  }

  h2{
    font-size:5vw;
    color: white;
  }

  button{
    font-size: 3vw;
  }
}

// text size info
.text_info{
  text-align: center;
  h1{
    font-size:6.5vw;
    font-weight:600;
  }
  p{
    font-size:3.5vw;
    font-weight:300;
  }
}

// text size contact
.text_contact{
  h1{
    font-size: 9vw;
  }
  h2{
    font-weight: 400;
    font-size: 4.5vw;
  }
  p{
    font-weight: 300;
    font-size: 4.5vw;
  }
}

//Video header styling
.video{
  background: $color2;
  @extend .nopm;
  height: 100vh;
  width: 100vw;

  .video_container{
    @extend .nopm;
    width: 100vw;
    height: 100vh;

    #myvideo:-webkit-full-screen {
      width: 100%;
      height: 100%;
      z-index: 10000;
    }

    .video_player{
      @extend .nopm;
      width: 100vw;
      height: 100vh;
      z-index: 50;
    }
    .video_text_container{
      background: rgba($color2, 0.2);
      @extend .nopm;
      position: absolute;
      height: 100vh;
      width: 100vw;
      top:0;
      left: 0;
      text-align: center;
      z-index: 100;
      @extend .text_video;

      button{
        outline: none;
        text-transform: uppercase;
        margin-top:5vh;
        background: rgba($color2, 0.4);
        border: 1px solid white;
        color: white;
        padding:0.5vw;

        &:hover{
          background: $color2;
          border: 0;
          transition: 0.5s;
        }
      }
    }
  }
}

//Info section styling
.info{
  background: darken(white,8%);
  min-height: 50vh;

  .info_container{
    @extend .nopm;

    .info_container_top{
      padding: 10vh 0 10vh 0;
      .info_text_container_top{
       @extend .text_info;
        color: $color2;
      }
    }

    .info_container_mid{
      padding: 10vh 0 10vh 0;
      background: $color2;
      .info_text_container_mid{
        @extend .text_info;
        color: darken(white,8%);
      }
    }

    .info_container_bot{
      padding: 10vh 0 10vh 0;

      .info_text_container_bot{
        @extend .text_info;
      }
    }
  }
}

//contact section styling
.contact{
  .contact_container{
    background: $color2;
    .contact_text_container{
      margin-bottom:8vh;
      margin-top: 8vh;
      text-align: center;
      color: white;
      @extend .text_contact;

      h1{
        margin-bottom:5vh;
        font-weight: 800;
        margin-top:10vh;
        text-transform: uppercase;
      }
    }
  }
}

//tablet size
@media (min-width: $screen-sm-min) {

  // Video text size
  .text_video{
    h1{
      font-size: 5vw;
    }

    h2{
      font-size: 3vw;
    }

    button{
      font-size: 2vw;
    }
  }

  .text_info{
    text-align: center;
    h1{
      font-size:5.5vw;
      font-weight:600;
    }
    p{
      font-size:4vw;
      font-weight:300;
    }
  }
  .text_contact{
    h1 {
      font-size: 5vw;
    }
    h2 {
      font-size: 4vw;
    }
    p {
      font-size: 3.5vw;
    }
  }

}

//desktop size
@media (min-width: $screen-md-min) {

  // Video text size
  .text_video{
    h1{
      margin-top: 30vh;
      font-size: 3.8vw;
    }

    h2{
      font-size: 2vw;
    }

    button{
      font-size: 1vw;
    }
  }

  // Info text size
  .text_info{
    text-align: center;
    h1{
      font-size:4.2vw;
      font-weight:600;
    }
    p{
      font-size:2.2vw;
      font-weight:300;
    }
  }

  // Contact text size
  .text_contact{
    h1 {
      font-size: 4vw;
    }
    h2 {
      font-size: 2vw;
    }
    p {
      font-size: 2vw;
    }
  }
}
