@import "everything";

//Video header styling
.video{
  background: $color2;
  @extend .nopm;
  height: 100vh;
  width: 100vw;

  .video_container{
    @extend .nopm;
    width: 100vw;
    height: 100vh;

    #myvideo:-webkit-full-screen {
      width: 100%;
      height: 100%;
      z-index: 10000;
    }

    .video_player{
      @extend .nopm;
      width: 100vw;
      height: 100vh;
      z-index: 50;
    }
    .video_text_container{
      background: rgba($color2, 0.2);
      @extend .nopm;
      position: absolute;
      height: 100vh;
      width: 100vw;
      top:0;
      left: 0;
      text-align: center;
      z-index: 100;

      h1{
        margin-top:35vh;
        font-size:7vw;
        color: white;
      }

      h2{
        font-size:5vw;
        color: white;
      }

      button{
        outline: none;
        text-transform: uppercase;
        margin-top:5vh;
        background: rgba($color2, 0.4);
        border: 1px solid white;
        color: white;
        font-size: 3vw;
        padding:0.5vw;

        &:hover{
          background: $color2;
          border: 0;
          transition: 0.5s;
        }
      }
    }
  }
}

//Info section styling
.info{
  background: darken(white,8%);

  .info_container{

    .info_img_container{
      margin-top:10vh;
    }

    .info_text_container{
      margin-bottom:10vh;
      margin-top: 10vh;
      text-align: center;
      color: $color2;

      h1{
        font-weight: 800;
        font-size: 8.5vw;
        margin-bottom:4vh;
      }

      p{
        font-weight: 400;
        font-size: 5vw;

      }
    }
  }
}

//contact section styling
.contact{
  .contact_container{
    background: $color2;
    .contact_text_container{
      margin-bottom:10vh;
      margin-top: 10vh;
      text-align: center;
      color: white;
      h1{
        margin-bottom:5vh;
        font-weight: 800;
        font-size: 9vw;
        margin-top:10vh;
        text-transform: uppercase;
      }

      h2{
        font-weight: 400;
        font-size: 4.5vw;
      }

      p{
        font-weight: 300;
        font-size: 4.5vw;
      }
    }
  }
}

//tablet size
@media (min-width: $screen-sm-min) {}

//desktop size
@media (min-width: $screen-md-min) {
  //Video header styling
  .video {
    .video_container {
      .video_player {
      }

      .video_text_container {
        h1 {
          margin-top: 30vh;
          font-size: 4vw;
        }

        h2 {
          font-size: 2vw;
        }

        button {
          font-size: 1vw;
        }
      }
    }
  }

  //Info section styling
  .info {
    .info_container {
      .info_img_container {
        margin-left: 2.5vw;
        margin-bottom: 10vh;
      }
      .info_text_container {
        h1 {
          font-size: 5vw;
        }
        p {
          font-size: 2vw;
        }
      }
    }
  }

  //contact section styling
  .contact {
    .contact_container {
      .contact_text_container {
        h1 {
          font-size: 5.5vw;
        }
        h2 {
          font-size: 2vw;
        }
        p {
          font-size: 2vw;
        }
      }
    }
  }
}