@import "variabels";

//center a element vertical
@mixin vertical-align($pos: relative) {
  position: $pos;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

//center a element horizontal
@mixin horizontal-align($pos: relative){
  position: $pos;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

//center a element horizontally and vertically
@mixin center-align($pos: relative){
  position: $pos;
  left: 50%;
  top:  50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

//a transition
@mixin transition($prop: all, $time: 0.5s, $ease: linear) {
  -webkit-transition: $prop $time $ease;
  -moz-transition: $prop $time $ease;
  -o-transition: $prop $time $ease;
  transition: $prop $time $ease;
}

//background size
@mixin background($size: cover){
  -webkit-background-size: $size;
  -moz-background-size: $size;
  -o-background-size: $size;
  background-size: $size;
}

//a shadow for the top of a section
@mixin top_box_shadow($hori : 0,  $vert :0, $Blur: 0, $Spread: 0, $color: rgba(0,0,0,0.20)){
  -webkit-box-shadow: $hori $vert $Blur $Spread $color;
  -moz-box-shadow: $hori $vert $Blur $Spread $color;
  box-shadow: $hori $vert $Blur $Spread $color;
}

//border radius
@mixin border_radius($size: 0px){
  -webkit-border-radius: $size;
  -moz-border-radius: $size;
  -ms-border-radius: $size;
  border-radius: $size;
}
